<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="Student-Info" class="datamodel.Student">
		<property name="name" value="Satya" />
	</bean>
	<bean id="Student-Cons" class="datamodel.Student">
		<constructor-arg type="java.lang.String"
			value="Calling Constructor" />
	</bean>




</beans>