<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans">
	
	
	<bean id="triangle" class="com.Spring.Demo.Triangle">
		<property name="PointA" ref="zeroPoint" />
		<property name="PointB">
			<bean class="com.Spring.Demo.Point">
				<property name="x" value="0" />
				<property name="y" value="20" />
			</bean>
		</property>
		<property name="PointC">
			<bean class="com.Spring.Demo.Point">
				<property name="x" value="-20" />
				<property name="y" value="0" />
			</bean>
		</property>

		<bean id="zeroPoint" class="com.Spring.Demo.Point">
			<property name="x" value="0" />
			<property name="y" value="0" />
		</bean>
</bean>
</beans>